<aside class="bg-dark border-right p-3 text-light" id="sidebar">
  <h3>Gifs App</h3>
  <hr class="text-white" />
  <div class="list-group list-reset">
    <a
      *ngFor="let item of history"
      href="#"
      (click)="search(item)"
      class="list-group-item list-group-item-action"
    >
      {{ item | titlecase }}
    </a>
  </div>
</aside>
