<div class="row">
  <div *ngFor="let gif of results" class="col-md-4 col-sm-6">
    <div class="card animate__animated animate__fadeIn">
      <img
        [src]="gif.images.downsized_medium.url"
        [alt]="gif.title"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text text-center">
          {{ gif.title }}
        </p>
      </div>
    </div>
  </div>
</div>
